.navbar-container {
    height: 50px;
    display: flex;
    color: var(--color-txt-gympass);
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}